In [1]:
import pandas as pd

In [2]:
ep = pd.read_csv('data/employees.csv')
ep

     First Name  Gender Start Date    Salary   Mgmt          Team
0       Douglas    Male     8/6/93       NaN   True     Marketing
1        Thomas    Male    3/31/96   61933.0   True           NaN
2         Maria  Female        NaN  130590.0  False       Finance
3         Jerry     NaN     3/4/05  138705.0   True       Finance
4         Larry    Male    1/24/98  101004.0   True            IT
...         ...     ...        ...       ...    ...           ...
996     Phillip    Male    1/31/84   42392.0  False       Finance
997     Russell    Male    5/20/13   96914.0  False       Product
998       Larry    Male    4/20/13   60500.0  False  Business Dev
999      Albert    Male    5/15/12  129949.0   True         Sales
1000        NaN     NaN        NaN       NaN    NaN           NaN

[1001 rows x 6 columns]

In [3]:
ep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    object
 2   Start Date  999 non-null    object
 3   Salary      999 non-null    float64
 4   Mgmt        933 non-null    object
 5   Team        957 non-null    object
dtypes: float64(1), object(5)
memory usage: 47.0+ KB

#### the below command tries to decrease memory usage of data

In [4]:
ep = pd.read_csv('data/employees.csv', parse_dates=['Start Date'])
ep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    object
 2   Start Date  999 non-null    datetime64[ns]
 3   Salary      999 non-null    float64
 4   Mgmt        933 non-null    object
 5   Team        957 non-null    object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 47.0+ KB

In [5]:
ep['Mgmt'] = ep['Mgmt'].astype(bool)
ep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    object
 2   Start Date  999 non-null    datetime64[ns]
 3   Salary      999 non-null    float64
 4   Mgmt        1001 non-null   bool
 5   Team        957 non-null    object
dtypes: bool(1), datetime64[ns](1), float64(1), object(3)
memory usage: 40.2+ KB

In [ ]:
ep['Salary'] = ep['Salary'].astype('int32') # after run gives you error since cann't convert Nan to int32
ep.info()

In [6]:
ep['Salary'] = ep['Salary'].fillna(0).astype('int32') # Nan will contert to 0
ep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    object
 2   Start Date  999 non-null    datetime64[ns]
 3   Salary      1001 non-null   int32
 4   Mgmt        1001 non-null   bool
 5   Team        957 non-null    object
dtypes: bool(1), datetime64[ns](1), int32(1), object(3)
memory usage: 36.3+ KB

In [7]:
ep.nunique() # we must category the small numbers for example 'Gender' and 'Team' are candidates

First Name    200
Gender          2
Start Date    971
Salary        995
Mgmt            2
Team           10
dtype: int64

In [8]:
ep['Gender'] = ep['Gender'].astype('category')
ep['Team'] = ep['Team'].astype('category')
ep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    category
 2   Start Date  999 non-null    datetime64[ns]
 3   Salary      1001 non-null   int32
 4   Mgmt        1001 non-null   bool
 5   Team        957 non-null    category
dtypes: bool(1), category(2), datetime64[ns](1), int32(1), object(1)
memory usage: 23.1+ KB

we must import those columns that needed with 'usecol = [...]' to reduce memory usage

In [9]:
ep = pd.read_csv('data/employees.csv') # we can chunk rows to all of them don't come to the memory
ep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    object
 2   Start Date  999 non-null    object
 3   Salary      999 non-null    float64
 4   Mgmt        933 non-null    object
 5   Team        957 non-null    object
dtypes: float64(1), object(5)
memory usage: 47.0+ KB

In [10]:
for ep in pd.read_csv('data/employees.csv', chunksize= 200):
    print(ep.info())
    print('>>>>>>>>>>>>>>>>>>>>>>>>>>')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  185 non-null    object
 1   Gender      168 non-null    object
 2   Start Date  199 non-null    object
 3   Salary      199 non-null    float64
 4   Mgmt        185 non-null    object
 5   Team        192 non-null    object
dtypes: float64(1), object(5)
memory usage: 9.5+ KB
None
>>>>>>>>>>>>>>>>>>>>>>>>>>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 200 to 399
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  187 non-null    object
 1   Gender      172 non-null    object
 2   Start Date  200 non-null    object
 3   Salary      200 non-null    int64
 4   Mgmt        187 non-null    object
 5   Team        195 non-null    object
dtypes: int64(1), object(5)
memory usage: 9.5+ KB
None
>>>>>>>>>>>>>>>>>>>>>>>>>>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 400 to 599
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  188 non-null    object
 1   Gender      177 non-null    object
 2   Start Date  200 non-null    object
 3   Salary      200 non-null    int64
 4   Mgmt        188 non-null    object
 5   Team        190 non-null    object
dtypes: int64(1), object(5)
memory usage: 9.5+ KB
None
>>>>>>>>>>>>>>>>>>>>>>>>>>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 600 to 799
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  184 non-null    object
 1   Gender      162 non-null    object
 2   Start Date  200 non-null    object
 3   Salary      200 non-null    int64
 4   Mgmt        184 non-null    object
 5   Team        188 non-null    object
dtypes: int64(1), object(5)
memory usage: 9.5+ KB
None
>>>>>>>>>>>>>>>>>>>>>>>>>>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 800 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  189 non-null    object
 1   Gender      175 non-null    object
 2   Start Date  200 non-null    object
 3   Salary      200 non-null    int64
 4   Mgmt        189 non-null    object
 5   Team        192 non-null    object
dtypes: int64(1), object(5)
memory usage: 9.5+ KB
None
>>>>>>>>>>>>>>>>>>>>>>>>>>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 1000 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  0 non-null      float64
 1   Gender      0 non-null      float64
 2   Start Date  0 non-null      float64
 3   Salary      0 non-null      float64
 4   Mgmt        0 non-null      float64
 5   Team        0 non-null      float64
dtypes: float64(6)
memory usage: 180.0 bytes
None
>>>>>>>>>>>>>>>>>>>>>>>>>>