# introcudtion to pandas

### Series

In [11]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.5.3'

In [4]:
s = pd.Series([1, 2, 3])
s

0    1
1    2
2    3
dtype: int64

In [7]:
s = pd.Series([False, False, True])
s

0    False
1    False
2     True
dtype: bool

In [8]:
s = pd.Series([False, False, True])
s.index = ['row1','row2','row3']
s

row1    False
row2    False
row3     True
dtype: bool

In [9]:
print(s['row1'])
print(s[0]) # default index with range index always works

False
False

In [10]:
s = pd.Series([False, False, True], index = ['row1','row2','row3'])
s

row1    False
row2    False
row3     True
dtype: bool

In [12]:
s = pd.Series([10, 20, 30], dtype = np.int32)
s

0    10
1    20
2    30
dtype: int32

In [13]:
s = pd.Series({'u1' : 'amir', 'u2' : 'saleh', 'u3' : 'hasan'})
s

u1     amir
u2    saleh
u3    hasan
dtype: object

In [14]:
s['u2']

'saleh'

In [15]:
s.values

array(['amir', 'saleh', 'hasan'], dtype=object)

In [17]:
s.index

Index(['u1', 'u2', 'u3'], dtype='object')

In [19]:
s.size

3

In [21]:
s.is_unique

True

In [53]:
s = pd.Series([1 , 2, 3])
print('is this serie values are increasing : ',s.is_monotonic_increasing)
print('is this serie values are decreasing : ',s.is_monotonic_decreasing)

is this serie values are increasing :  True
is this serie values are decreasing :  False

In [33]:
s = pd.Series(range(0,500,1))
s

0        0
1        1
2        2
3        3
4        4
      ...
495    495
496    496
497    497
498    498
499    499
Length: 500, dtype: int64

In [34]:
s.head(7)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64

In [35]:
s.tail(5)

495    495
496    496
497    497
498    498
499    499
dtype: int64

In [55]:
s = pd.Series([1,2,3,np.nan,5]) #  nan values in series are not counted in calculations
s

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
dtype: float64

In [66]:
print('number of values in s with nan values : ', s.size )
print('number of values in s without nan values : ', s.count() )
print('sum of values in s : ', s.sum())
print('product of values in s : ', s.product())
print('---------------------')
print('cumsum of values in s : ', s.cumsum())
print('---------------------')
print('pct_change of values in s : ', s.pct_change())
print('---------------------')
print('mean of values in s : ', s.mean())
print('min of values in s : ', s.min())
print('max of values in s : ', s.max())
print('random number from s: ', s.sample())
print('tow random number from s: ', s.sample(2))

number of values in s with nan values :  5
number of values in s without nan values :  4
sum of values in s :  11.0
product of values in s :  30.0
---------------------
cumsum of values in s :  0     1.0
1     3.0
2     6.0
3     NaN
4    11.0
dtype: float64
---------------------
pct_change of values in s :  0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.666667
dtype: float64
---------------------
mean of values in s :  2.75
min of values in s :  1.0
max of values in s :  5.0
random number from s:  1    2.0
dtype: float64
tow random number from s:  4    5.0
3    NaN
dtype: float64

In [46]:
s.describe()

count    4.000000
mean     2.750000
std      1.707825
min      1.000000
25%      1.750000
50%      2.500000
75%      3.500000
max      5.000000
dtype: float64

In [50]:
s + 4

0    5.0
1    6.0
2    7.0
3    NaN
4    9.0
dtype: float64

### Read CSV